flows_raspberrypi.json
[{"type":"tab","id":"70a58b06.45bd64","label":"Not Waving"},{"type":"tab","id":"a4db4716.a7d828","label":"Not Waving - Interface"},{"id":"8552c587.2af6","type":"twitter-credentials","screen_name":"@katausten"},{"id":"8b1abd49.9c7668","type":"twitter-credentials","screen_name":"@jmatsushita"},{"id":"a3db0381.be1a4","type":"websocket-listener","path":"/ws/tweets","wholemsg":"false"},{"id":"44f57cc0.7dfdac","type":"twitter in","twitter":"8552c587.2af6","tags":"#water, #fail","user":"false","name":"water","topic":"tweets","x":102,"y":172,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"188722c.7e1afdd","type":"function","name":"Process Tweet","func":"// is it possible to set this to a variable that  is then\n// counted by the other function and then fed back in\n// iteratively??\n// initialise the counter to 0 if it doesn't exist already\ncontext.count = context.count || 0;    \ncontext.count += 1;\n// make it part of the outgoing msg object\nmsg.count = context.count;\nif (msg.count >= 5) {\n  msg.pour = true\n  context.count = 0\n} else {\n  msg.pour = false\n}\nreturn msg;","outputs":"1","x":294,"y":200,"z":"70a58b06.45bd64","wires":[["ad7f9f55.8be2f8"]]},{"id":"5030b5e6.ccf8f4","type":"debug","name":"Servo Debug","active":true,"console":"true","complete":"false","x":1099.555419921875,"y":97.77777099609375,"z":"70a58b06.45bd64","wires":[]},{"id":"93ebc43b.209f3","type":"template","name":"Display Tweet","template":"<li>{{payload}}</li>","x":623.6666870117188,"y":302.22222900390625,"z":"70a58b06.45bd64","wires":[["bdc0737e.ef7428","dafaacb9.ae6158","909e5e6d.b428c8"]]},{"id":"bdc0737e.ef7428","type":"debug","name":"Display Debug","active":true,"console":"true","complete":"false","x":961.7777709960938,"y":399.7777404785156,"z":"70a58b06.45bd64","wires":[]},{"id":"ad7f9f55.8be2f8","type":"switch","name":"Send pour","property":"pour","rules":[{"t":"true"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":410,"y":127,"z":"70a58b06.45bd64","wires":[["d3220735.f10c88","a3847d89.ad63d8"],["93ebc43b.209f3"]]},{"id":"d3220735.f10c88","type":"template","name":"Pour","template":"Pour!!!","x":616,"y":75,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"]]},{"id":"3dff1a17.8de5de","type":"http response","name":"Response Show","x":782,"y":471,"z":"70a58b06.45bd64","wires":[]},{"id":"40f61797.e91e78","type":"http in","name":"Showme","url":"/showme","method":"get","x":174,"y":463,"z":"70a58b06.45bd64","wires":[["46f289e8.0c9e"]]},{"id":"f742de94.3f64e8","type":"http in","name":"Index","url":"/index","method":"get","x":226,"y":224,"z":"a4db4716.a7d828","wires":[["7f762ff1.790438"]]},{"id":"e8b815b3.f570a","type":"function","name":"","func":"msg.payload = '<html><head><link type=\"text/css\" rel=\"stylesheet\" href=\"/tweets.css\"><meta http-equiv=\"refresh\" content=\"3\"></head><body><ol>' + msg.payload + '</ol></body></html>'\nreturn msg;","outputs":1,"x":585,"y":464,"z":"70a58b06.45bd64","wires":[["3dff1a17.8de5de"]]},{"id":"dafaacb9.ae6158","type":"file","name":"Write tweets_data","filename":"tweets_data","appendNewline":true,"overwriteFile":false,"x":972.5556030273438,"y":278.5555419921875,"z":"70a58b06.45bd64","wires":[]},{"id":"46f289e8.0c9e","type":"file in","name":"reads tweets_data","filename":"tweets_data","format":"utf8","x":385,"y":466,"z":"70a58b06.45bd64","wires":[["e8b815b3.f570a"]]},{"id":"79c8993f.f025b8","type":"inject","name":"Fake #fail","topic":"","payload":"This is a fake #fail tweet","payloadType":"string","repeat":"","crontab":"","once":true,"x":147,"y":256,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"cad80efb.e2a2b","type":"http in","name":"tweets.css","url":"/tweets.css","method":"get","x":362,"y":543,"z":"70a58b06.45bd64","wires":[["ae7264ea.83a988"]]},{"id":"ae7264ea.83a988","type":"file in","name":"css","filename":"tweets.css","format":"utf8","x":503,"y":545,"z":"70a58b06.45bd64","wires":[["22e0f77f.4d98c"]]},{"id":"22e0f77f.4d98c","type":"http response","name":"","x":640,"y":550,"z":"70a58b06.45bd64","wires":[]},{"id":"3b1c8e12.fa91d2","type":"exec","command":"gpio pwm 1 40","append":"","useSpawn":"","name":"Servo open","x":839.77783203125,"y":133.11109924316406,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"],["5030b5e6.ccf8f4"],[]]},{"id":"a3847d89.ad63d8","type":"function","name":"remove payload","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"x":616,"y":179,"z":"70a58b06.45bd64","wires":[["3b1c8e12.fa91d2","4f327f3d.b944f8"]]},{"id":"4f327f3d.b944f8","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":806.666748046875,"y":215.5554962158203,"z":"70a58b06.45bd64","wires":[["b38b5d31.e3744"]]},{"id":"b38b5d31.e3744","type":"exec","command":"gpio pwm 1 23","append":"","useSpawn":"","name":"Servo close","x":968.8889770507812,"y":214.44444274902344,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"],["5030b5e6.ccf8f4"],[]]},{"id":"fa4c00c9.938008","type":"exec","command":"/home/pi/new-atlantis/flows_startup.sh","append":"","useSpawn":"","name":"flows_startup.sh","x":327,"y":43,"z":"70a58b06.45bd64","wires":[[],[],[]]},{"id":"4f73aada.5f096c","type":"inject","name":"On Statup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87,"y":60,"z":"70a58b06.45bd64","wires":[["fa4c00c9.938008"]]},{"id":"7f762ff1.790438","type":"file in","name":"index.html","filename":"/home/pi/new-atlantis/theme/index.html","format":"utf8","x":436,"y":222,"z":"a4db4716.a7d828","wires":[["3ea740f2.e6835"]]},{"id":"3ea740f2.e6835","type":"http response","name":"index","x":631,"y":231,"z":"a4db4716.a7d828","wires":[]},{"id":"4649a8bb.b1cc2","type":"http response","name":"Response Show","x":755,"y":302,"z":"a4db4716.a7d828","wires":[]},{"id":"3b7394f2.d32274","type":"http in","name":"Tweets","url":"/tweets","method":"get","x":147,"y":294,"z":"a4db4716.a7d828","wires":[["892be867.8423c8"]]},{"id":"e8ec990e.c15c7","type":"function","name":"","func":"msg.payload = '<html><head><link type=\"text/css\" rel=\"stylesheet\" href=\"/tweets.css\"><meta http-equiv=\"refresh\" content=\"3\"></head><body><ol>' + msg.payload + '</ol></body></html>'\nreturn msg;","outputs":1,"x":558,"y":295,"z":"a4db4716.a7d828","wires":[["4649a8bb.b1cc2"]]},{"id":"892be867.8423c8","type":"file in","name":"reads tweets_data","filename":"tweets_data","format":"utf8","x":358,"y":297,"z":"a4db4716.a7d828","wires":[["e8ec990e.c15c7"]]},{"id":"64931c52.e1bdf4","type":"http in","name":"bootstrap.css","url":"/assets/css/bootstrap.css","method":"get","x":246,"y":369,"z":"a4db4716.a7d828","wires":[["b792d601.d602a"]]},{"id":"b792d601.d602a","type":"file in","name":"bootstrap.css","filename":"/home/pi/new-atlantis/theme/assets/css/bootstrap.css","format":"utf8","x":477,"y":370,"z":"a4db4716.a7d828","wires":[["ff420f84.539d2"]]},{"id":"1d7a22c5.5870e5","type":"http response","name":"","x":783,"y":367,"z":"a4db4716.a7d828","wires":[]},{"id":"b7c09ae9.d8852","type":"http in","name":"soon.css","url":"/assets/css/soon.css","method":"get","x":241,"y":436,"z":"a4db4716.a7d828","wires":[["1819eb82.b6a5a4"]]},{"id":"1819eb82.b6a5a4","type":"file in","name":"soon.css","filename":"/home/pi/new-atlantis/theme/assets/css/soon.css","format":"utf8","x":472,"y":437,"z":"a4db4716.a7d828","wires":[["31d165ab.f8071a"]]},{"id":"439ea243.458f2c","type":"http response","name":"","x":806,"y":421,"z":"a4db4716.a7d828","wires":[]},{"id":"188f57ce.4400a","type":"http in","name":"main.css","url":"/assets/css/main.css","method":"get","x":214,"y":484,"z":"a4db4716.a7d828","wires":[["2db3896.dfaf2f6"]]},{"id":"2db3896.dfaf2f6","type":"file in","name":"main.css","filename":"/home/pi/new-atlantis/theme/assets/css/bootstrap.css","format":"utf8","x":445,"y":485,"z":"a4db4716.a7d828","wires":[["5bdbef09.30b87"]]},{"id":"a20206a.7ab71f8","type":"http response","name":"","x":757,"y":486,"z":"a4db4716.a7d828","wires":[]},{"id":"ff420f84.539d2","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":638,"y":365,"z":"a4db4716.a7d828","wires":[["1d7a22c5.5870e5"]]},{"id":"31d165ab.f8071a","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":661,"y":431,"z":"a4db4716.a7d828","wires":[["439ea243.458f2c"]]},{"id":"5bdbef09.30b87","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":618,"y":491,"z":"a4db4716.a7d828","wires":[["a20206a.7ab71f8"]]},{"id":"6372082c.83c5","type":"http in","name":"jquery.min.js","url":"/assets/js/jquery.min.js","method":"get","x":240,"y":542,"z":"a4db4716.a7d828","wires":[["9228bb7.e31bb48"]]},{"id":"9228bb7.e31bb48","type":"file in","name":"jquery.min.js","filename":"/home/pi/new-atlantis/theme/assets/js/jquery.min.js","format":"utf8","x":471,"y":543,"z":"a4db4716.a7d828","wires":[["591fee31.7e703"]]},{"id":"a889e52f.a035d","type":"http response","name":"","x":777,"y":540,"z":"a4db4716.a7d828","wires":[]},{"id":"591fee31.7e703","type":"function","name":"text/js","func":"headers = {}\nheaders['Content-type'] = \"text/js; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":632,"y":538,"z":"a4db4716.a7d828","wires":[["a889e52f.a035d"]]},{"id":"74012921.e503a8","type":"http in","name":"soon/custom.js","url":"/assets/js/soon/custom.js","method":"get","x":187,"y":601,"z":"a4db4716.a7d828","wires":[["a72d5600.ed008"]]},{"id":"a72d5600.ed008","type":"file in","name":"soon/custom.js","filename":"/home/pi/new-atlantis/theme/assets/js/soon/custom.js","format":"utf8","x":418,"y":602,"z":"a4db4716.a7d828","wires":[["855dda3.0b5bd28"]]},{"id":"fcd8cc78.cf4cf","type":"http response","name":"","x":724,"y":599,"z":"a4db4716.a7d828","wires":[]},{"id":"855dda3.0b5bd28","type":"function","name":"text/js","func":"headers = {}\nheaders['Content-type'] = \"text/js; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":579,"y":597,"z":"a4db4716.a7d828","wires":[["fcd8cc78.cf4cf"]]},{"id":"909e5e6d.b428c8","type":"websocket out","name":"Send tweets on /ws/tweets","server":"a3db0381.be1a4","x":945,"y":335,"z":"70a58b06.45bd64","wires":[]},{"id":"dab026ac.8f1a28","type":"http in","name":"jquery.websocket-0.0.1.js","url":"/assets/js/jquery.websocket-0.0.1.js","method":"get","x":147,"y":652,"z":"a4db4716.a7d828","wires":[["90a7f85b.ee7df"]]},{"id":"90a7f85b.ee7df","type":"file in","name":"jquery.websocket-0.0.1.js","filename":"/home/pi/new-atlantis/theme/assets/js/jquery.websocket-0.0.1.js","format":"utf8","x":418,"y":654,"z":"a4db4716.a7d828","wires":[["2991889.a186f78"]]},{"id":"a3a9b974.859bf","type":"http response","name":"","x":724,"y":651,"z":"a4db4716.a7d828","wires":[]},{"id":"2991889.a186f78","type":"function","name":"text/js","func":"headers = {}\nheaders['Content-type'] = \"text/js; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":607,"y":651,"z":"a4db4716.a7d828","wires":[["a3a9b974.859bf"]]}]