flows_raspberrypi.json
[{"type":"tab","id":"70a58b06.45bd64","label":"Not Waving"},{"type":"tab","id":"a4db4716.a7d828","label":"Not Waving - Interface"},{"id":"8552c587.2af6","type":"twitter-credentials","screen_name":"@iilab"},{"id":"8b1abd49.9c7668","type":"twitter-credentials","screen_name":"@jmatsushita"},{"id":"a3db0381.be1a4","type":"websocket-listener","path":"/ws/tweets","wholemsg":"true"},{"id":"54651cc0.ab9ae4","type":"websocket-listener","path":"/ws/location","wholemsg":"false"},{"id":"44f57cc0.7dfdac","type":"twitter in","twitter":"8552c587.2af6","tags":"#water, #fail","user":"false","name":"water","topic":"tweets","x":65,"y":120,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"188722c.7e1afdd","type":"function","name":"Process Tweet","func":"// is it possible to set this to a variable that  is then\n// counted by the other function and then fed back in\n// iteratively??\n// initialise the counter to 0 if it doesn't exist already\ncontext.global.count = context.global.count || 0;    \ncontext.global.count += 1;\n// make it part of the outgoing msg object\nmsg.count = context.global.count;\nif (!context.global.cycle.start) {\n  context.global.cycle.start = context.global.moment().clone();\n}\nmsg.cycle = {}\nmsg.cycle.threshold = context.global.config.tweet_threshold\nmsg.cycle.duration = context.global.config.cycle_duration\nmsg.cycle.start = context.global.cycle.start.toDate();\nmsg.cycle.end = context.global.cycle.start.clone().add(context.global.config.cycle_duration, 'seconds').toDate();\nmsg.cycle.time = context.global.moment().diff(msg.cycle.start, 'seconds')\nmsg.cycle.tweet_window = context.global.config.tweet_window\n\nif (msg.count >= context.global.config.tweet_threshold && msg.time > context.global.config.cycle_duration) {\n  msg.pour = true\n  msg.reset = true\n  context.global.count = 0\n  context.global.cycle.start = context.global.moment().clone();\n  context.global.tweets = []\n} else if (msg.cycle.time > context.global.config.cycle_duration) {\n  msg.pour = false\n  msg.reset = true\n  console.log('Time expired without twitter threshold reached');\n  context.global.count = 0\n  context.global.cycle.start = context.global.moment().clone();\n  context.global.tweets = []\n} else {\n  msg.pour = false\n  msg.reset = false\n  arr = context.global.tweets;\n  if (arr.push(msg.tweet) > context.global.config.tweet_window) arr.shift()\n  console.log(arr);\n  context.global.tweets = arr;\n  msg.tweets = arr;\n}\nreturn msg;","outputs":"1","x":378,"y":134,"z":"70a58b06.45bd64","wires":[["ad7f9f55.8be2f8"]]},{"id":"5030b5e6.ccf8f4","type":"debug","name":"Servo Debug","active":true,"console":"true","complete":"false","x":1144.555419921875,"y":252.77777099609375,"z":"70a58b06.45bd64","wires":[]},{"id":"ad7f9f55.8be2f8","type":"switch","name":"Send pour","property":"pour","rules":[{"t":"true"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":433,"y":252,"z":"70a58b06.45bd64","wires":[["d3220735.f10c88","a3847d89.ad63d8","8979309f.7686d"],["909e5e6d.b428c8"]]},{"id":"d3220735.f10c88","type":"template","name":"Pour","field":"","template":"Pour!!!","x":661,"y":230,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"]]},{"id":"f742de94.3f64e8","type":"http in","name":"Index","url":"/index","method":"get","x":226,"y":224,"z":"a4db4716.a7d828","wires":[["7f762ff1.790438"]]},{"id":"79c8993f.f025b8","type":"inject","name":"Fake #fail","topic":"tweet/fake","payload":"This is a fake #fail tweet","payloadType":"none","repeat":"","crontab":"","once":false,"x":85,"y":189,"z":"70a58b06.45bd64","wires":[["a860d435.579f28"]]},{"id":"3b1c8e12.fa91d2","type":"exec","command":"gpio pwm 1 40","append":"","useSpawn":"","name":"Servo open","x":884.77783203125,"y":288.11109924316406,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"],["5030b5e6.ccf8f4"],[]]},{"id":"a3847d89.ad63d8","type":"function","name":"remove payload","func":"msg.payload = \"\"\nreturn msg;","outputs":1,"x":675,"y":305,"z":"70a58b06.45bd64","wires":[["3b1c8e12.fa91d2","4f327f3d.b944f8"]]},{"id":"4f327f3d.b944f8","type":"delay","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":851.666748046875,"y":370.5554962158203,"z":"70a58b06.45bd64","wires":[["b38b5d31.e3744"]]},{"id":"b38b5d31.e3744","type":"exec","command":"gpio pwm 1 23","append":"","useSpawn":"","name":"Servo close","x":1013.8889770507812,"y":369.44444274902344,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"],["5030b5e6.ccf8f4"],[]]},{"id":"fa4c00c9.938008","type":"exec","command":"/home/pi/new-atlantis/flows_startup.sh","append":"","useSpawn":"","name":"flows_startup.sh","x":327,"y":43,"z":"70a58b06.45bd64","wires":[[],[],[]]},{"id":"4f73aada.5f096c","type":"inject","name":"On Statup","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"x":87,"y":60,"z":"70a58b06.45bd64","wires":[["fa4c00c9.938008","26967f30.d9698"]]},{"id":"7f762ff1.790438","type":"file in","name":"index.html","filename":"../new-atlantis/theme/index.html","format":"utf8","x":436,"y":222,"z":"a4db4716.a7d828","wires":[["3ea740f2.e6835"]]},{"id":"3ea740f2.e6835","type":"http response","name":"index","x":631,"y":231,"z":"a4db4716.a7d828","wires":[]},{"id":"4649a8bb.b1cc2","type":"http response","name":"Response Show","x":755,"y":302,"z":"a4db4716.a7d828","wires":[]},{"id":"3b7394f2.d32274","type":"http in","name":"Tweets","url":"/tweets","method":"get","x":147,"y":294,"z":"a4db4716.a7d828","wires":[["892be867.8423c8"]]},{"id":"e8ec990e.c15c7","type":"function","name":"","func":"msg.payload = '<html><head><link type=\"text/css\" rel=\"stylesheet\" href=\"/tweets.css\"><meta http-equiv=\"refresh\" content=\"3\"></head><body><ol>' + msg.payload + '</ol></body></html>'\nreturn msg;","outputs":1,"x":558,"y":295,"z":"a4db4716.a7d828","wires":[["4649a8bb.b1cc2"]]},{"id":"892be867.8423c8","type":"file in","name":"reads tweets_data","filename":"tweets_data","format":"utf8","x":358,"y":297,"z":"a4db4716.a7d828","wires":[["e8ec990e.c15c7"]]},{"id":"64931c52.e1bdf4","type":"http in","name":"bootstrap.css","url":"/assets/css/bootstrap.css","method":"get","x":246,"y":369,"z":"a4db4716.a7d828","wires":[["b792d601.d602a"]]},{"id":"b792d601.d602a","type":"file in","name":"bootstrap.css","filename":"../new-atlantis/theme/assets/css/bootstrap.css","format":"utf8","x":477,"y":370,"z":"a4db4716.a7d828","wires":[["ff420f84.539d2"]]},{"id":"1d7a22c5.5870e5","type":"http response","name":"","x":783,"y":367,"z":"a4db4716.a7d828","wires":[]},{"id":"b7c09ae9.d8852","type":"http in","name":"soon.css","url":"/assets/css/soon.css","method":"get","x":241,"y":436,"z":"a4db4716.a7d828","wires":[["1819eb82.b6a5a4"]]},{"id":"1819eb82.b6a5a4","type":"file in","name":"soon.css","filename":"../new-atlantis/theme/assets/css/soon.css","format":"utf8","x":472,"y":437,"z":"a4db4716.a7d828","wires":[["31d165ab.f8071a"]]},{"id":"439ea243.458f2c","type":"http response","name":"","x":806,"y":421,"z":"a4db4716.a7d828","wires":[]},{"id":"188f57ce.4400a","type":"http in","name":"main.css","url":"/assets/css/main.css","method":"get","x":214,"y":484,"z":"a4db4716.a7d828","wires":[["2db3896.dfaf2f6"]]},{"id":"2db3896.dfaf2f6","type":"file in","name":"main.css","filename":"..i/new-atlantis/theme/assets/css/bootstrap.css","format":"utf8","x":445,"y":485,"z":"a4db4716.a7d828","wires":[["5bdbef09.30b87"]]},{"id":"a20206a.7ab71f8","type":"http response","name":"","x":757,"y":486,"z":"a4db4716.a7d828","wires":[]},{"id":"ff420f84.539d2","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":638,"y":365,"z":"a4db4716.a7d828","wires":[["1d7a22c5.5870e5"]]},{"id":"31d165ab.f8071a","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":661,"y":431,"z":"a4db4716.a7d828","wires":[["439ea243.458f2c"]]},{"id":"5bdbef09.30b87","type":"function","name":"text/css","func":"headers = {}\nheaders['Content-type'] = \"text/css; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":618,"y":491,"z":"a4db4716.a7d828","wires":[["a20206a.7ab71f8"]]},{"id":"6372082c.83c5","type":"http in","name":"jquery.min.js","url":"/assets/js/jquery.min.js","method":"get","x":240,"y":542,"z":"a4db4716.a7d828","wires":[["9228bb7.e31bb48"]]},{"id":"9228bb7.e31bb48","type":"file in","name":"jquery.min.js","filename":"../new-atlantis/theme/assets/js/jquery.min.js","format":"utf8","x":471,"y":543,"z":"a4db4716.a7d828","wires":[["591fee31.7e703"]]},{"id":"a889e52f.a035d","type":"http response","name":"","x":777,"y":540,"z":"a4db4716.a7d828","wires":[]},{"id":"591fee31.7e703","type":"function","name":"text/js","func":"headers = {}\nheaders['Content-type'] = \"text/js; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":632,"y":538,"z":"a4db4716.a7d828","wires":[["a889e52f.a035d"]]},{"id":"74012921.e503a8","type":"http in","name":"soon/custom.js","url":"/assets/js/soon/custom.js","method":"get","x":187,"y":601,"z":"a4db4716.a7d828","wires":[["a72d5600.ed008"]]},{"id":"a72d5600.ed008","type":"file in","name":"soon/custom.js","filename":"../new-atlantis/theme/assets/js/soon/custom.js","format":"utf8","x":418,"y":602,"z":"a4db4716.a7d828","wires":[["855dda3.0b5bd28"]]},{"id":"fcd8cc78.cf4cf","type":"http response","name":"","x":724,"y":599,"z":"a4db4716.a7d828","wires":[]},{"id":"855dda3.0b5bd28","type":"function","name":"text/js","func":"headers = {}\nheaders['Content-type'] = \"text/js; charset=utf-8\"\nmsg.headers = headers\nreturn msg;","outputs":1,"x":579,"y":597,"z":"a4db4716.a7d828","wires":[["fcd8cc78.cf4cf"]]},{"id":"909e5e6d.b428c8","type":"websocket out","name":"Send tweets on /ws/tweets","server":"a3db0381.be1a4","x":812,"y":629,"z":"70a58b06.45bd64","wires":[]},{"id":"77787f24.88878","type":"websocket in","name":"Client connected on /ws/tweets","server":"a3db0381.be1a4","x":301,"y":691,"z":"70a58b06.45bd64","wires":[["bb35de37.44ca2"]]},{"id":"bb35de37.44ca2","type":"function","name":"","func":"// The received message is stored in 'msg'\n// It will have at least a 'payload' property:\n//   console.log(msg.payload);\n// The 'context' object is available to store state\n// between invocations of the function\n//   context = {};\n\nmsg.tweets = context.global.tweets;\nmsg.cycle = {}\nmsg.cycle.threshold = context.global.config.tweet_threshold\nmsg.cycle.duration = context.global.config.cycle_duration\nmsg.cycle.start = context.global.cycle.start.toDate();\nmsg.cycle.end = context.global.cycle.start.clone().add(context.global.config.cycle_duration, 'seconds').toDate();\nmsg.cycle.time = context.global.moment().diff(msg.cycle.start, 'seconds')\nmsg.cycle.tweet_window = context.global.config.tweet_window\nmsg.count = context.global.count;\n\nreturn msg;","outputs":1,"x":568,"y":682,"z":"70a58b06.45bd64","wires":[["685e9a06.97a164"]]},{"id":"26967f30.d9698","type":"function","name":"Not Waving Configuration","func":"// Initialise Variables\n\ncontext.global.count = 0;\ncontext.global.tweets = [];\ncontext.global.cycle = {};\n\n// Initialise configuration\ncontext.global.config = {};\n\n// Time window in seconds\ncontext.global.config.cycle_duration= 30;\n\n// Tweet threshold number\ncontext.global.config.tweet_threshold = 10;\n\n// Number of tweets displayed (and kept in buffer)\ncontext.global.config.tweet_window = 15;\n\nreturn msg;","outputs":1,"x":299,"y":91,"z":"70a58b06.45bd64","wires":[[]]},{"id":"685e9a06.97a164","type":"websocket out","name":"Send initial config","server":"a3db0381.be1a4","x":769,"y":708,"z":"70a58b06.45bd64","wires":[]},{"id":"a860d435.579f28","type":"function","name":"","func":"msg.payload = { user: 'fake', text: 'fake #tweet'};\nreturn msg;","outputs":1,"x":228,"y":187,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"8979309f.7686d","type":"websocket out","name":"Send tweets on /ws/tweets","server":"a3db0381.be1a4","x":821,"y":454,"z":"70a58b06.45bd64","wires":[]}]