twitter_scrape_to_servo.json
[{"type":"tab","id":"2836e5bb.3ef172","label":"Sheet 1"},{"type":"tab","id":"70a58b06.45bd64","label":"Sheet 2"},{"type":"tab","id":"a4db4716.a7d828","label":"Sheet 4"},{"id":"8552c587.2af6","type":"twitter-credentials","screen_name":"@katausten"},{"id":"8b1abd49.9c7668","type":"twitter-credentials","screen_name":"@jmatsushita"},{"id":"4206ffa0.2187d","type":"inject","name":"repeat 5 minutes","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/5  * * *","once":false,"x":110,"y":55,"z":"2836e5bb.3ef172","wires":[["a9046638.0e8848"]]},{"id":"1045a50e.432b53","type":"debug","name":"","active":true,"console":false,"complete":false,"x":802,"y":47,"z":"2836e5bb.3ef172","wires":[]},{"id":"a9046638.0e8848","type":"http request","name":"National Grid http request","method":"GET","url":"http://www.nationalgrid.com/ngrealtime/realtime/systemdata.aspx","x":394,"y":63,"z":"2836e5bb.3ef172","wires":[["2724309f.04d048"]]},{"id":"2724309f.04d048","type":"function","name":"","func":" // does a simple text extract parse of the http output to provide an\n    // object containing the uk power demand, frequency and time\n    \n    if (~msg.payload.indexOf('<BR')) {\n      var words = msg.payload.split(\"div\")[1].split(\"<BR\");\n      if (words.length >= 3) {\n        msg.payload = {};\n        msg.payload.demand = parseInt(words[0].split(\":\")[1]);\n        msg.payload.frequency = parseFloat(words[2].split(\":\")[1]);\n        msg.payload.time = words[1].split(\">\")[1];\n        \n        // Create the true/false signal based on the frequency.\n        msg2 = {};\n        msg2.payload = (msg.payload.frequency >= 50) ? true : false;\n        \n        return [msg,msg2];\n      }\n    }\n    return null;\n","outputs":"2","x":574,"y":159,"z":"2836e5bb.3ef172","wires":[["1045a50e.432b53"],["58ab8409.b2df04"]]},{"id":"58ab8409.b2df04","type":"debug","name":"","active":true,"console":false,"complete":false,"x":781,"y":176,"z":"2836e5bb.3ef172","wires":[]},{"id":"44f57cc0.7dfdac","type":"twitter in","twitter":"8b1abd49.9c7668","tags":"#water, #fail","user":"false","name":"water","topic":"tweets","x":102,"y":172,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"188722c.7e1afdd","type":"function","name":"Process Tweet","func":"// is it possible to set this to a variable that  is then\n// counted by the other function and then fed back in\n// iteratively??\n// initialise the counter to 0 if it doesn't exist already\ncontext.count = context.count || 0;    \ncontext.count += 1;\n// make it part of the outgoing msg object\nmsg.count = context.count;\nif (msg.count >= 5) {\n  msg.pour = true\n  context.count = 0\n} else {\n  msg.pour = false\n}\nreturn msg;","outputs":"1","x":294,"y":200,"z":"70a58b06.45bd64","wires":[["ad7f9f55.8be2f8"]]},{"id":"5030b5e6.ccf8f4","type":"debug","name":"Servo Debug","active":true,"console":"false","complete":"false","x":814,"y":112,"z":"70a58b06.45bd64","wires":[]},{"id":"93ebc43b.209f3","type":"template","name":"Display Tweet","template":"<li>{{payload}}</li>","x":657,"y":280,"z":"70a58b06.45bd64","wires":[["bdc0737e.ef7428","dafaacb9.ae6158"]]},{"id":"bdc0737e.ef7428","type":"debug","name":"Display Debug","active":true,"console":"false","complete":"false","x":864,"y":372,"z":"70a58b06.45bd64","wires":[]},{"id":"ad7f9f55.8be2f8","type":"switch","name":"Send pour","property":"pour","rules":[{"t":"true"},{"t":"nnull"}],"checkall":"true","outputs":2,"x":476,"y":222,"z":"70a58b06.45bd64","wires":[["d3220735.f10c88"],["93ebc43b.209f3"]]},{"id":"d3220735.f10c88","type":"template","name":"Pour","template":"Pour!!!","x":657,"y":159,"z":"70a58b06.45bd64","wires":[["5030b5e6.ccf8f4"]]},{"id":"3dff1a17.8de5de","type":"http response","name":"Response Show","x":782,"y":471,"z":"70a58b06.45bd64","wires":[]},{"id":"40f61797.e91e78","type":"http in","name":"Showme","url":"/showme","method":"get","x":174,"y":463,"z":"70a58b06.45bd64","wires":[["46f289e8.0c9e"]]},{"id":"5fc20112.c3f798","type":"debug","name":"","active":true,"console":"true","complete":"true","x":506,"y":144,"z":"a4db4716.a7d828","wires":[]},{"id":"69ceef79.3b3e6","type":"http response","name":"ok","x":691,"y":270,"z":"a4db4716.a7d828","wires":[]},{"id":"f742de94.3f64e8","type":"http in","name":"showmeagain","url":"/showmeagain","method":"get","x":226,"y":224,"z":"a4db4716.a7d828","wires":[["5fc20112.c3f798","a45cd40f.375028"]]},{"id":"a45cd40f.375028","type":"function","name":"","func":"msg.payload = \"test\"\nmsg.statusCode=200\nreturn msg;","outputs":1,"x":454,"y":205,"z":"a4db4716.a7d828","wires":[["69ceef79.3b3e6"]]},{"id":"e8b815b3.f570a","type":"function","name":"","func":"msg.payload = '<html><head><link type=\"text/css\" rel=\"stylesheet\" href=\"/tweets.css\"><meta http-equiv=\"refresh\" content=\"3\"></head><body><ol>' + msg.payload + '</ol></body></html>'\nreturn msg;","outputs":1,"x":585,"y":464,"z":"70a58b06.45bd64","wires":[["3dff1a17.8de5de"]]},{"id":"dafaacb9.ae6158","type":"file","name":"Write tweets_data","filename":"tweets_data","appendNewline":true,"overwriteFile":false,"x":864,"y":237,"z":"70a58b06.45bd64","wires":[]},{"id":"46f289e8.0c9e","type":"file in","name":"reads tweets_data","filename":"tweets_data","format":"utf8","x":385,"y":466,"z":"70a58b06.45bd64","wires":[["e8b815b3.f570a"]]},{"id":"79c8993f.f025b8","type":"inject","name":"Fake #fail","topic":"","payload":"This is a fake #fail tweet","payloadType":"string","repeat":"","crontab":"","once":true,"x":147,"y":256,"z":"70a58b06.45bd64","wires":[["188722c.7e1afdd"]]},{"id":"cad80efb.e2a2b","type":"http in","name":"tweets.css","url":"/tweets.css","method":"get","x":362,"y":543,"z":"70a58b06.45bd64","wires":[["ae7264ea.83a988"]]},{"id":"ae7264ea.83a988","type":"file in","name":"css","filename":"tweets.css","format":"utf8","x":503,"y":545,"z":"70a58b06.45bd64","wires":[["22e0f77f.4d98c"]]},{"id":"22e0f77f.4d98c","type":"http response","name":"","x":640,"y":550,"z":"70a58b06.45bd64","wires":[]}]
